/*==== Remove Section delete and add new ====*/
body[class*="post-type-cpt_h_section"] div#wpbody-content div.wrap h2 a[class^="add-new"]{
	display: none;
}
body[class*="post-type-cpt_h_section"] #edit-slug-box,
body[class*="post-type-cpt_h_section"] #delete-action,
body[class*="post-type-cpt_h_section"] #wp-admin-bar-new-content,
body[class*="post-type-cpt_h_section"] #wp-admin-bar-view,
body[class*="post-type-cpt_h_section"] #minor-publishing{
	display: none;
}

/*==== CPT: front page slider ====*/
body[class*="post-type-cpt_frontpage_slide"] div#wpadminbar li#wp-admin-bar-view{
	display: none;
}

/*==== CPT: post-type-cpt_i_contact ====*/
body[class*="post-type-cpt_i_contact"] .add-new-h2,
body[class*="post-type-cpt_i_contact"] #delete-action,
body[class*="post-type-cpt_i_contact"] #minor-publishing{
	display: none;
}

/*New Settings style - this idea came in late to mind*/
body[class*="post-type-cpt_set_"] .add-new-h2,
body[class*="post-type-cpt_set_"] #edit-slug-box,
body[class*="post-type-cpt_set_"] #delete-action,
body[class*="post-type-cpt_set_"] #wp-admin-bar-new-content,
body[class*="post-type-cpt_set_"] #wp-admin-bar-view,
body[class*="post-type-cpt_set_"] #minor-publishing{
	display: none;
}

/*==== Navbar ====*/
.wp-menu-separator{
	border-bottom: 2px solid rgba(84, 84, 84, 0.24);
}