.SOA-supportFiles {
	display: none !important;
}
.support-doc-fallback {
    position: relative !important;
    left: auto !important;
    z-index: auto !important;
}
.add-more-docs-fallback {
    position: relative !important;
    left: auto !important;
    z-index: auto !important;
}
.add-more-docs-fallback h2 {
    position: relative !important;
    left: auto !important;
    z-index: auto !important;
}