/*Contact us Page*/

#Contact_Page .et_pb_column_2_3 {

	margin-right: 0px;

	float: left;

	vertical-align: top;

	text-align:  center;
}

@media only screen and (min-width: 981px) {

	width: 600px;
}



#paraplanning-content .enjoy-list li {

    margin: 0px 6px;

    display: inline-block;

}

.gf_browser_ie8 #gform_4 .gform_body .gfield_error {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.gf_browser_ie8 #gform_3 .gform_body .gfield_error {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#soa2 .ptp-two-col {
    width: 48.7%;
}


.testimonials_list .author-shortcodes .author-image .author-overlay {
    background-image: url('../images/ellipse-testimonial-thumb-overlay-small.png');
    box-shadow: none;
}

.testimonials_list .author-inner {
    position: relative;
    padding: 25px 30px 20px 158px;
    min-height: 60px;
}

#SOA_Request .SOA_download_form_container h3 {
    margin-bottom: 25px;
    margin-top: 20px;
}

.sibling-page a img {
	left: 0px !important;
	margin-left: 0px !important;
	max-width: 100% !important;
	visibility: hidden;
}

.sibling-page.current-page a img {
	visibility: visible;
}

.section3-mini-slider .et-pb-arrow-prev:before {
    color: #A40C0C;
}

.et_pb_slides {
	
}

/*body.page-id-773 #left-area {
	width: 100% !important;
}

body.page-id-773 #left-area article {

	width: 703px !important;

	float: right;
}*/

/*Mini Slider*/
.section3-mini-slider .et_pb_slide {

	overflow: hidden;

	height: 223px;

}

.section3-mini-slider .et_pb_slides {
    height: 230px;
    overflow: hidden;
}

.section3-mini-slider .et_pb_container {

	overflow: hidden !important;

	position: absolute;

	top: 0px !important;

	margin-top: 0px !important;

	padding-top: 0px !important;

	height: 110px;

}

/*icon set*/
#paraplanning-content .enjoy-list img {
	display: block;
}