.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

.custom-shortcode-map {
	position: relative;
}
.map_address {
	display: inline-block;
	left: 50%;
	text-align: center;
	z-index: 2;
	position: absolute;
	margin-top: 40px;
	margin-left: -40%;
	background-color: #FFF;
	box-shadow: 0px 0px 6px -3px;
	font-size: 13px;
	font-weight: 400;
	width: 78%;
	padding: 5px 2%;
	font-family: Roboto,Arial,sans-serif;
}