/*======== Global CSS ========*/



body {

	min-width: 1300px;/*Beta - added to aid safari in finding correct width*/ /*<--- This disables ersponsive have to reenale it with media query below*/

	-webkit-font-smoothing: antialiased;

}

/*Header*/

#text-3 .title {

    width: 140px;

}



/*header responsive*/

@media only screen and (max-width: 479px){

	#text-3 .title {

		margin-right: 18px;

	}

	#text-3 .textwidget {

		width: 220px;

		text-align: center;

	}

}



/*This will re-enable responsive*/

@media only screen and (max-width: 1299px){

	body {

		min-width: 0px; /*Brings back responsive*/

	}

}



#hidden_homepage_h1 {

	width: 0px;

	height: 0px;

	position: absolute;

	visibility: hidden;

}





img[src=''] {

	visibility: hidden;

}



/*Nav*/

#menu_label{

	visibility: hidden;

	width: 0;

	height: 0;

	display: inline-block;

}



/*Scrolling Menu*/

.stickToTop {

	position: fixed !important;

	top: 0px !important;

	margin-top: -25px !important;

	width: 100% !important;

}

body.admin-bar .stickToTop {

	margin-top: 10px !important;

}

.holdPosition {

	position: absolute !important;

	width: 100% !important;

}

.stickToTop .et_pb_text  a {

	height: 115px !important;

}

#scrolling-menu .et_pb_row .et_pb_column .et_pb_text a {

	padding-left: 10px;

	padding-right: 10px;

}

#scrolling-menu .scrollActive a {

    background: url('../images/scrolling-menu-bg-hover.png') no-repeat scroll center top transparent !important;

}

.stickToTop .et_pb_column {

	padding-bottom: 0px !important;

}

body.safari #scrolling-menu.stickToTop .et_pb_column_1_4 {

	width: 220px;

	margin: 0px;

}

@media only screen and (min-width: 768px) and (max-width: 782px) {

	html #wpadminbar {

		z-index: 9999 !important;

	}

	body.admin-bar .stickToTop {

		margin-top: 25px !important;

	}

}

@media only screen and (max-width: 767px) {

	.stickToTop .et_pb_text  a {

		height: 50px !important;

	}

	.stickToTop {

		margin-top: 0px !important;

	}

	body.admin-bar .stickToTop {

		margin-top: 46px !important;

	}

	#scrolling-menu {

	    height: 83px;

	}

}

@media only screen and (max-width: 600px) {

	.stickToTop .et_pb_text  a {

		height: 50px !important;

	}

	.stickToTop {

		margin-top: 0px !important;

	}

	body.admin-bar .stickToTop {

		margin-top: 0px !important;

	}

}

@media only screen and (max-width: 479px) {

	#scrolling-menu .et_pb_row {

	    width: 320px !important;

	}

	#scrolling-menu {

		width: 100% !important;

	}

}



/*NavBar*/



#top-menu .et-show-dropdown{



	background: none repeat scroll 0% 0% #93000C;



}



#top-menu .et-show-dropdown a{



	background: none;



}



#top-menu .menu-item > .sub-menu > li > a{



	padding-left: 40.4px !important;

	width: 140.4px !important;

	



}



#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a {

    font-weight: 800;

}

#top-menu li > a {

	font-weight: 800;

}







/*Front Page Slider*/



#main-slider{



	width: 100%;



}



#main-slider.no_arrows .et-pb-slider-arrows{



	display: none;



}



#main-slider.no_arrows .et-pb-controllers{



	display: none;



}









/*Back to Top*/

#backToTop {

	position: fixed;

	width: 48px;

	height: 48px;

	background-image: url("../images/backToTop-48x48.png");

	right: 40px;

	bottom:  50px;

	cursor: pointer;

	z-index: 9999;

}



/*Back to Top Responsive*/

@media only screen and (max-width: 600px) {

	#backToTop {

		background-image: url("../images/backToTop-48x48.png");

		right: 25px;

		bottom:  50px;

	}

}

@media only screen and (max-width: 479px) {

	#backToTop {

		width: 20px;

		height: 20px;

		background-image: url("../images/backToTop-20x20.png");

		right: 20px;

		bottom:  20px;

	}

}







/*Footer*/



.footer-addresses {



	min-height: 55px;



}



.footer-addresses span {



	float: none !important;



	clear: none;



}

/*Footer Responsive*/

@media only screen and (max-width: 1100px) and (min-width: 981px) {

	.menu-footer-menu-container #menu-footer-menu {

	    width: 385px;

	}

}



@media only screen and ( min-width: 768px ) {



	/*Footer*/

	.et_pb_widget .menu-footer-menu-container #menu-footer-menu {

	    width: 425px !important;

	}



}



@media only screen and (min-width: 1025px) {

	.et_pb_widget .menu-footer-menu-container #menu-footer-menu {

	    width: 480px !important

	}

}







/*Sidebar*/



body.et_full_width_page #sidebar {



	display: none;



}



/*Author Shortcode*/



.author-image {

	max-width: 100%;

}



/*left Area Article*/

#left-area article {

	min-height: 550px;

}



/*Breadcrumbs*/

.breadcrumbs{

	position: relative;

	margin-top: -15px;

	left: 3px;

	margin-bottom: 15px;

	display: none

}



body.error404 #left-area h1{

	margin-bottom: 15px;

}



body.error404 #left-area{

	width: 100% !important;

}



/*Responsive*/

@media only screen and (max-width: 959px) {

	.breadcrumbs{

		text-align: center;

	}

}

/*======== Global CSS ====END=*/















/*======== Global Responsive CSS ========*/



@media only screen and ( max-width: 1100px ){



	/*Top Menu responsive fix*/



	#top-menu-nav #top-menu li a{



		padding: 25px 19px 19px



	}



}



@media only screen and ( max-width: 980px ) {



	/*Sidebar*/



	#sidebar .menu.custom-sibling-pages li a {



		width: 215px;



		margin-left: auto;



		margin-right: auto;



		text-align: center;



		padding: 13px 0px 13px 0px;



	}



}



@media only screen and ( max-width: 959px ) {

	#left-area article {

		text-align: center; /*Added this while fixing clients served*/

	}

}

@media only screen and ( max-width: 767px ) {



	/*In page titles*/



	#left-area article .main_title{



		font-size: 20px;



	}

	body.home .et_pb_text {

		text-align: center;

	}



}







/*======== Global Responsive CSS ====END=*/



























/*internal page layouts - mimic layout of generic page that do not have page builder*/



.restore-main_title h1.main_title{



	font-size: 45px;



	font-weight: bolder;



	text-transform: uppercase;



	border-bottom: 1px solid #C0C0C0;



	margin-top: -30px;



}



.restore-main_title .et_pb_row{



	padding-top: 0px;



}













/*Gravity Forms - Remove error messages*/



.gform_wrapper li.gfield.gfield_error.gfield_contains_required{



	background-color: transparent !important;



	border: 0px none !important;



	padding: 0px !important;



	/*margin: 14px !important;*/ /*Check Contact*/



}



div#Contact_Page .gform_wrapper li.gfield.gfield_error.gfield_contains_required{



	background-color: transparent !important;



	border: 0px none !important;



	padding: 0px !important;

	

	padding-left: 0px !important;



	/*margin: 14px !important;*/ /*Check Contact*/



}



.gform_wrapper li.gfield.gfield_error{



	background-color: transparent !important;



	border: 0px none !important;



	padding: 0px !important;



	/*margin: 14 !important;*/



}



.gform_wrapper li.gfield.gfield_error.gfield_contains_required input{



	width: 63%;



	background-color: #FFD7D7;	



}



.gform_wrapper li.gfield.gfield_error.gfield_contains_required input.gform_button_select_files{



	width: auto;



	background-color: #FFD7D7;	



}





.gform_wrapper li.gfield.gfield_error.gfield_contains_required textarea{

	background-color: #FFD7D7;	

}



.gform_fields .gfield .gfield_description.validation_message{



	/*display: none !important;*/

	padding-top: 1px !important;

	padding-bottom: 10px !important;

	margin-top: 0px;

	margin-bottom: 0px;

	margin-left: 165px;

	margin-right: 0px;



}



.gform_wrapper .gfield_error .gfield_label {

	color: #231F20;

}



.validation_error {



	display: none;



}



.gfield.gfield_error select {



	border-color: #790000;



}



.gfield.gfield_error select {



	width: 67%;



	border-color: #790000;



}



.gform_wrapper form .gform_footer.left_label {



	/*text-align: right;*/

	text-align: center;

	padding: 0px;



}



.gform_wrapper input[type="submit"],



.gform_wrapper input.submitProxy  {



    color: #FFF !important;



	border-radius: 8px !important;



	padding: 11px 38px !important;



	width: auto;



	transition: none;







	padding: 12px 15px;



	border: 0px none;



	background-color: #090d81;



	color: white;



	font-weight: 500;



	margin-left: auto;



	cursor: pointer;



}



.gform_wrapper input[type="submit"]:hover,



.gform_wrapper input.submitProxy:hover {



	padding: 12px 15px;



	border: 0px none;



	background-color: #231F20;



	color: white;



	font-weight: 500;



}







/*Social Links*/



.social_icons{



	margin-top: 15px;



}



.social_icons a{



	margin-right: 10px;



}







/*Content Area*/



#main-content .container {



padding-top: 40px;



}







#left-area .entry-content h2 {



	line-height: 100% !important;



	color: #090d81 !important;



	font-weight: bold;



	margin-bottom: 5px;



}







#left-area .entry-content h3 {



	line-height: 100% !important;



	color: #777777 !important;



	font-weight: 500;



	margin-bottom: 24px;



}







#left-area .entry-content h4 {



	line-height: 100% !important;



	color: #777777 !important;



	font-weight: 500;



	font-size: 20px;



	margin-bottom: 18px;



}







#left-area .entry-content h5 {



	line-height: 100% !important;



	color: #777777 !important;



	font-weight: 500;



	font-size: 14px;



	margin-bottom: 12px;



}







#left-area .entry-content h6 {



	line-height: 100% !important;



	color: #777777 !important;



	font-weight: 500;



	font-size: 8px;



	margin-bottom: 6px;



}







/*Anchor with no url*/



a[href="javascript:void(0)"] {



	cursor: default;



}



/*======== Global CSS ====END=*/



















/*==== Front Page slider ====*/



#main-slider a.et_pb_more_button {

	display: none;
	visibility: hidden;
	width: 43px;

}



/*==== Front Page slider END=*/





/*====Section 1 Overides ====*/

#paraplanning-content .enjoy-list li {

    margin: 0px 11px;

    display: inline-block;

    width: 130px;

    vertical-align: top;

}

#paraplanning-content .enjoy-list li img {

    max-width: 60px;

    max-height: 60px;

}

/*====Section 1 Overides END=*/









/*==== Front Page mini slider ====*/



.section3-mini-slider .et_pb_slides p {



	display: none;



}



.section3-mini-slider .et_pb_slide_description {



	padding: 0 !important;



}



.section3-mini-slider .et_pb_container {



	min-height: 0px;



}



.section3-mini-slider ul li {



	/*width: 175px;*/



	/*height: 181px;*/



}



.section3-mini-slider .et_pb_slide .et_pb_container {



	margin-top: 0px !important;



	top: 0px !important;



}



.section3-mini-slider .et_pb_slide {



	background-color: transparent !important;



	box-shadow: none;



}



.section3-mini-slider .et-pb-arrow-prev:before {



	color: #a40c0c;



}



.section3-mini-slider .et-pb-arrow-next:before {



	color: #A40C0C;



}



.section3-mini-slider .et-pb-controllers {



	display: none;



}

.section3-mini-slider li img {

	width: 100%;

}



/*Initial state*/

.section3-mini-slider.initial-Slider-CSS .et-pb-arrow-prev{

	left: 0px;

}

.section3-mini-slider.initial-Slider-CSS .et-pb-arrow-next{

	right: 0px;

}



/*Responsive*/

@media only screen and (max-width: 1100px){

	#quality-service2 .section3-mini-slider li {

		position: relative;

		width: 160px;

	}

}

@media only screen and (max-width: 980px){

	#quality-service2 .section3-mini-slider li {

		width: 120px;

	}

	.et_pb_slider_fullwidth_off .et_pb_slide_description {

	    padding: 0px !important;

	    margin-left: auto;

		margin-right: auto;

	}

}

@media only screen and (max-width: 767px){

	#quality-service2 .section3-mini-slider li {

		width: 72px;

		margin: 20px 10px 0px;

	}

}

@media only screen and (max-width: 480px){

	#quality-service2 .section3-mini-slider .et_pb_slide_content {

		display: block !important;

	}

	#quality-service2 .section3-mini-slider li {

		width: 55px;

		margin: 20px 5px 0px;

	}

}

	



/*==== Front Page mini slider END=*/











/*======== Pricing Table ========*/



.ptp-col .ptp-item-container .ptp-cta a.ptp-button {



	background-color: #090d81 !important;



    color: #FFF !important;



	display: table !important;



	background: none repeat scroll 0% 0% #090d81 !important;



	border-radius: 8px !important;



	margin: 0px auto !important;



	font-size: 24px !important;



	padding: 18px 45px !important;



	border-bottom: 0px !important;



	width: auto;



	transition: none;



}



.ptp-pricing-table {

	display: inline-block;

	margin-left: auto;

	float: none;

}



.ptp-pricing-table .ptp-details {

	/* color: #C2C2C2;

	background-color: #4D0000; */

	color: #FFFFFF;

	background-color: #2328a7;

	padding: 10px;

}



.ptp-col .ptp-cta a.ptp-button:hover {



	background-color: #231F20 !important;



}



div.ptp-plan {



	background-color: #090d81 !important;



	color: white !important;



}



div.ptp-price {



	background-color: #c7c8ca !important;



}



.ptp-not-most-popular {



	font-size: 1.9em !important;



	border-bottom: 5px transparent !important;



}



.ptp-most-popular {



	font-size: 1.9em !important;



	background-color: transparent !important;



	color: #c50101 !important;



}



.ptp-plan {



	font-size: 1.6em;



	padding: 0.238em 1.25em;



}



/*======== Pricing Table ====end=*/















/*======== Homepage Page ========*/

/*---- Section 1 ----*/



.enjoy-list li strong {



	text-transform: uppercase;



}

body.home ul.enjoy-list{

    text-align: center;

    list-style: none;

    margin: 0 auto;

    padding-left: 60px;

}



body.home ul.enjoy-list li{

    display: block;

    float: left;

    width: 160px;	

}





/*Responsive*/

@media only screen and (max-width: 1100px) and (min-width: 767px) {

	#paraplanning-content .enjoy-list {

		width: 552px

	}

	#paraplanning-content .enjoy-list li {

		width: 154px;

	}

}

@media only screen and (max-width: 942px) {

	#paraplanning-content .enjoy-list li {

		width: 158px;

		float: none;

	}

}

@media only screen and (max-width: 767px) {

	#paraplanning-content .enjoy-list li {

		width: 158px;

	}

}

/*======== Homepage Page ====END=*/







/*======== I am Ready To Go ========*/



#I_am_ready_to_go {



	text-align: center;



	position: relative;



	display: inline-block;



	margin: 30px auto;



	width: 100%;



}



#I_am_ready_to_go .title {



	color: #93000C;



	font-size: 32px;



	font-weight: bold;



	margin-bottom: 10px;



}



#I_am_ready_to_go .instructions_text {



	font-size: 186%;	



	font-weight: 100;



}



#I_am_ready_to_go .buttons-container {



	position: relative;



	margin-top: 15px;



}



#I_am_ready_to_go .buttons-container > div {



	text-align: center;



	width: 50%;



}



#I_am_ready_to_go .buttons-container > div a {



	display: inline-block;



	width: 74.5%;



	color: white;



	padding: 16px 10.8%;



	border-radius: 5px;



	background-color: #93000C;



	font-size: 23px;



}



#I_am_ready_to_go .buttons-container > div a:hover {



	background-color: #231F20 !important;



}



#I_am_ready_to_go .buttons-container .buttonLeft {



	position: relative;



	float: left;



	text-align: center;



	width: 50%;



}



#I_am_ready_to_go .buttons-container .buttonRight {



	position: relative;



	float: right;



	text-align: center;



	width: 50%;



}



/*responsive*/

@media only screen and (max-width: 479px) {

	#I_am_ready_to_go .buttons-container > div a {

		font-size: 18px;

	}

}

	



/*======== I am Ready To Go ====END=*/











/*======== Testimonials ========*/



div#testimonial_wrap {



	position: relative;



	display: block;



	text-align: center;



	margin-left: auto;



	margin-right: auto;



	padding-top: 40px;



	padding-bottom: 40px;



	max-width: 685px;



}



div#testimonial {



	position: relative;



	border-top: 2px solid #272425;



	border-bottom: 2px solid #272425;



	padding: 20px 60px;



	text-align: center;



}



div#testimonial div[id^="quote"] {



	position: absolute;



	width: 35px;



	height: 35px;



	background-position: 0px 0px;



	background-repeat: no-repeat;



	background-size: 100%;



	margin: 10px 10px;



	overflow: hidden;



}



div#testimonial div#quote-left {



	top: 0px;



	left: 0px;



	background-image: url('../images/quote-start.png');



}



div#testimonial div#quote-right {



	top: 0px;



	right: 0px;



	background-image: url('../images/quote-end.png');



}



/*======== Testimonials ====END=*/







/*======== FAQ Page ========*/



div#FAQ_page, div#FAQ_page div.FAQ_wrap, div#FAQ_page div.FAQ_wrap div.FAQ_row {



	display: inline-block;



	width: 100%;



}



div#FAQ_page div.FAQ_wrap div.FAQ_row div.one_third {



	margin-right: 2.6%;



}



div#FAQ_page .heading-more {



	background-color: #8C001B;



	background-image: none;



	color: white !important;



	text-shadow: none !important;



	font-weight: 600;



	line-height: 135%;



	font-size: 14px;



	padding: 16px 55px 16px 22px;



}



div#FAQ_page .heading-more .et_learnmore_arrow {



	background-color: #8C001B;



	background-image: none;



	color: white !important;



	text-shadow: none !important;



	font-weight: 600;



}



div#FAQ_page .learn-more-content p {



	line-height: 1.7em;



}



/*---- FAQ Responsive ----*/



@media only screen and ( max-width: 959px ) {



	div#FAQ_page .heading-more{



		height: auto !important;



	}



}







/*======== FAQ Page ====END=*/











/*======== Contact Page ========*/

#Contact_Page{

	background-color: transparent !important;

}



.contact_map .map_address{



    display: none;



}



.contact_map .acf-map {



    height: 270px !important;



}



.contact_form .gform_body ul li input, .contact_form .gform_body ul li textarea {



	width: 96.8% !important;



	padding: 10px 1.5%;



}

.contact_form .gform_wrapper ul.gform_fields li{



	padding-top: 10px;



	padding-bottom: 10px;



}

.contact_form .ginput_container {

	width: 100% !important;

	max-width: 100% !important;

}

.contact_form .gform_wrapper li.gfield.gfield_error.gfield_contains_required{



	width: 100%;



}



#input_2_4{



	margin: 0px;



	padding: 7px 6px;



	color: #9C9999;



}

#gform_2 .gform_footer {

	text-align: right;

}



.contact-form .gform_fields .gfield .gfield_description.validation_message {

	margin: 0px 0px 0px 2px;

}



.contact_form #field_2_4 label {

	display: none;

}



.contact_form div.gmnoprint:nth-child(8) > div:nth-child(1){



	display: none;



}



.contact_form #gform_confirmation_message_2{



	text-align: center;

	margin-top: 80px;



}



.contact_form #field_2_2, .contact_form .ginput_container,  .contact_form #input_2_2 {

	width: 100%;

}





/*Resposnive*/

@media only screen and (max-width: 479px) {

	

	#input_2_4 {

		width: 100.3%;

	}

}



/*======== Contact Page ====END=*/







/*======== Request More Information ========*/



#gform_4 {



	max-width: 430px;



	margin-left: auto;



	margin-right: auto;



}



#gform_4 .gfield_error label {

	margin-top: 0px;

}



/*======== Request More Information ====END=*/







/*======== Clients served page ========*/



.client_logo {



	text-align: center;



	width: 100%;



	height: 160px;



	background-color: #eee;



	overflow: hidden;



	position: relative;



}



.client_logo .client_logo_wrap {



	display: table;



	width: 100%;



	height: 100%;



}



.client_logo .client_logo_wrap .client_logo_wrap_inner{



	display: table-cell;



	text-align: center;



	vertical-align: middle;



	height: 100%;



}



.client_logo .client_logo_wrap_inner img {



	max-width: 100%;



	width: auto;



	height: auto;



}



.client_list {

	display: inline-block;

	width: 100%;

}



.client_list .one_third {



	margin-bottom: 35px;



	width: 28.66%;



	margin-right: 7%;



	color: #666;



}



.client_list .client_text strong{



	display: block;



	font-weight: 600;



	color: #666;



	font-size: 14px;



}



.client_list .client_text .client-tagline{



	display: block;



	color: #666;



	font-size: 13px;



}



/*Responsive*/

@media only screen and (max-width: 959px) {

	body #left-area .entry-content .client_list .one_third {

		margin-bottom: 25px;

	}

}







/*======== Clients served page ====END=*/











/*======== Widget: Sibling page list ========*/



div.custom-sibling-pages ul.custom-sibling-pages li a {



    padding: 13px 0px 13px 10px;



    margin-top: -1px;



    width: 236px;



    background: url('../images/sidebar-menu-bg.png') no-repeat scroll left bottom transparent;



    display: block;



    color: #666;



}



div.custom-sibling-pages ul.custom-sibling-pages li a:hover, div.custom-sibling-pages ul.custom-sibling-pages li.current-page a{



	color:#ffffff;



	background: url('../images/sidebar-menu-bg-hover.png') bottom left no-repeat;



	background-size: 246px 100%;



}



div.custom-sibling-pages li a > span {



	width: 210px;



	display: inline-block;



}



/*======== Widget: Sibling page list ====END=*/











/*======== About The Team Page ========*/



.team_members .author-shortcodes .author-inner {



    position: relative;



    padding: 0px 30px 18px 300px;



    min-height: 222px;



}



.team_members .author-shortcodes .author-image {



    position: absolute;



	top: 0px;



	left: 0px;



	width: 275px;



	height: 206px;



	text-align: center;



}



.team_members .author-shortcodes {



	border: none;



	margin-bottom: 0px;



	padding-bottom: 0px;



    box-shadow: none;



	background: none;



	background-color: transparent;



}



.team_members {



	margin-top: 30px;



	box-shadow: none;



}



.team_members p{



	padding-bottom: 0px;



}



.team_members .author-inner .author-info .member-name {



	padding-bottom: 0px;



	font-size: 15px !important;



	font-weight: 500 !important;



	color: #555 !important;



}



.team_members .author-inner .author-info .member-designation {



	line-height: 160%;



	padding-bottom: 0.2em;



	color: #999 !important;



	font-size: 88%;



}



.team_members .author-inner .author-info p:not(.member-designation) {



	line-height: 170% !important;



	color: #555 !important;



	font-size: 89%;



	/*font-size: 12.5px;*/



}







.team_members .author-shortcodes .author-image .author-overlay{



	box-shadow: none;



}







/*==== Responsive ====*/



@media only screen and ( max-width: 767px ) {







	.team_members .author-shortcodes {



		margin-bottom: 20px;



		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);



	}



	.team_members .author-shortcodes .author-inner {



		padding: 5px;



		text-align: center;



	}



	.team_members .author-shortcodes .author-image {



		position: relative;



		margin-left: auto;



		margin-right: auto;



	}



}



/*======== About The Team Page ====END=*/















/*======== Testimonials Page ========*/



.testimonials_list .testimonial-author{



	font-size: 13px;



	margin-top: 18px;



	font-weight: 600;



	padding-bottom: 0px;



}



.testimonials_list .author-info{



	font-size: 13px;



	text-align: left;



}



.testimonials_list .author-company{



	color: #2DC8EA;



	font-weight: 600;



}



.testimonials_list .author-shortcodes{



	border: none;



	box-shadow: none;



}



.testimonials_list .author-inner {



	position: relative;



	padding: 25px 30px 20px 158px;



	min-height: 60px;



}



.testimonials_list .author-image{



	position: absolute;



	top: 32px;



	left: 30px;



	width: 100px !important;



	height: 100px !important;



	background-color: #eee;



}



.testimonials_list .author-shortcodes .author-image .author-overlay{



	background-image: url('../images/ellipse-testimonial-thumb-overlay.png') !important;



	box-shadow: none;



}



/*Responsive*/

@media only screen and (max-width: 767px) {

	.testimonials_list .author-image {

		text-align: center;

		margin-left: auto;

		margin-right: auto;

	}



	.testimonials_list .author-info {

		text-align: justify;

	}	



	.testimonials_list .testimonial-author {

		text-align: center;

	}	



	.testimonials_list .testimonial-details {

		text-align: center;

	}	

}

	

/*======== Testimonials Page ====END=*/











/*======== About the founder Page ========*/



.team_members.founder .author-shortcodes {



	background-color: transparent;



}



.team_members.founder .author-inner .author-info .member-name {



	font-size: 28px !important;



	font-weight: bold !important;



	color: #98141F !important;



}



.team_members.founder .author-inner .author-info .member-designation {



	color: #bf125b !important;



	font-size: 16px;



}



.team_members.founder .author-inner .author-info p:not(.member-designation) {



	line-height: 200% !important;



	color: #555 !important;



	font-size: 100%;



}



/*======== About the founder Page ====END=*/











/*======== SOA_Request_form ========*/

.SOA-download-link{

	text-decoration: underline;

}



#SOA_Request {



	text-align: center;



}



#SOA_Request .SOA-here {



	font-weight: bold;



	display: none;



}



#SOA_Request .one_third.current-step .SOA-here {



	display: block;



}



.SOA_Request_progressbar {



	display: inline-block;



	width: 100%;



}



.SOA_Request_progressbar .one_third {



	text-align: center;



	color: rgb(69, 69, 69);



}



.SOA_Request_progressbar .one_third .SOA-form-step-details {



	margin-top: 10px;



}



.SOA_Request_progressbar .one_third .SOA-form-step {



	color: rgb(201, 193, 194);



	font-size: 230%;



	font-weight: 600;



	text-align: center;



}



.SOA_Request_progressbar .one_third.current-step .SOA-form-step {



	color: rgb(176, 5, 19);



}



.secure-SOA-form {



	text-align: center;



	margin-left: auto;



	margin-right: auto;



}



.secure-SOA-form #input_3_6 > li{

	width: 100px;

	display: inline-block;

}



.secure-SOA-form .gfield_error .gfield_radio li{

	background-color: #FFD7D7;

	border: 1px solid #790000;

}



.secure-SOA-form .gfield_error li.gchoice_6_0 {

	border-right: 0px;

}

.secure-SOA-form .gfield_error li.gchoice_6_1 {

	border-left: 0px;

}



.secure-SOA-form > div.gform_wrapper {



	max-width: 520px;



	margin-left: auto;



	margin-right: auto;



}

#field_3_33 .gfield_description.validation_message{

	display: none;

}



#gform_drag_drop_area_3_33 .gform_drop_instructions {

	display: none;

}



.SOA-instructions {



	font-size: 140%;



}



.secure-SOA-form .gform_wrapper.gf_browser_gecko ul.gform_fields li.gfield select {



	/*width: 64%;*/



	margin-left: 0px;



}



.secure-SOA-form .gfield.gfield_error select {



	width: 67%;



	border-color: #790000;



}



#SOA_Request .li.gfield.gfield_error.gfield_contains_required {



	margin-bottom: 14px !important;



	padding-bottom: 15px !important;



}



.secure-SOA-form .support-document-type.gfield.gfield_error select {



	width: 35%;



	border-color: #790000;



}



.support-doc-fallback .ginput_container {

	text-align: center;

}



.support-doc-fallback .ginput_container input[type='file'] {

	width: auto;

}



.SOA-supportFiles label {

	display: none;

}





.support-doc-fallback label {

	display: none;

}



.secure-SOA-form .gform_fileupload_multifile {



	width: auto;

	margin: 0px;



}



#gform_multifile_upload_3_33 > div {



}



.secure-SOA-form input[type="radio"] {



	border: 1px solid transparent;



}



.secure-SOA-form input[type="radio"]:focus {



	border: 1px solid grey;



}



.add-more-docs-fallback {

	text-align: center;

}



.add-more-docs-fallback h2.gsection_title {

	font-size: 14px !important;

	cursor: pointer;

}



.SOA-thanks-you {



	text-align: center;



	padding-top: 60px;



	padding-bottom: 30px;



	font-weight: bold;



	/*text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);*/



	color: #0FB746;



}



.secure-SOA-form .support-document {



	padding-top: 10px;



	border-top: 1px solid #ddd;



	box-shadow: 0px -3px 11px -11px #333;



}



.secure-SOA-form .support-document-type {



	border-bottom: 2px solid #ccc;



	padding-bottom: 15px;



	box-shadow: 0px 5px 11px -11px #333



}



#SOA_Request li[class*="support-document"]{



	display: none;



}



#SOA_Request li[class*="support-document"].initial{



	display: block;



}



#SOA_Request .supporting-docs h2{



	font-size: 24px;



	cursor: pointer;



}



#SOA_Request .add-doc h2{



	font-size: 16px;



	cursor: pointer;



	text-align: center;



}



#SOA_Request .gfield_error label {



	margin-top: 0px;



}



#SOA_Request .gform_wrapper li.gfield.gfield_error.gfield_contains_required.support-document-type {



	border-bottom: 2px solid #CCC !important;



	padding: 0px 0px 15px !important;



	margin: 0px 0px 14px !important;



}



#SOA_Request .SOA_download_form_container {

	text-align: center;

	display: none;

}



#SOA_Request #SOA_download_form {

	color: #FFF !important;

	border-radius: 8px !important;

	padding: 11px 38px !important;

	width: auto;

	transition: none 0s ease 0s;

	border: 0px none;

	background-color: #93000C;

	font-weight: 500;

	margin-left: auto;

	cursor: pointer;

}



#SOA_Request #SOA_download_form:hover {

	padding: 12px 15px;

	border: 0px none;

	background-color: #231F20;

	color: #FFF;

	font-weight: 500;

}



#SOA_Request .SOA_download_form_container {

	margin-bottom: 40px;

}



#SOA_Request .SOA_download_form_container h3{

	margin-bottom: 25px;

	margin-top: 20px;

}



#SOA_Request .gform_wrapper .left_label .support-document .gfield_label {

	line-height: 120%;

}

#SOA_Request .secure-SOA-form .gfield.gfield_error select {

	width: 64.3%;

}

.gfield.gfield_error select {

	background-color: #FFD7D7;

}



.support-doc-fallback {

	position: fixed;

	left: -9999px;

	z-index: -9999;

}

.add-more-docs-fallback {

	position: fixed;

	left: -9999px;

	z-index: -9999;

}



/*Responsive*/

@media only screen and (max-width: 767px){

	/*Section break*/

	#field_3_29 > h2 {

		text-align: center;

	}



	/*Supporting Document*/

	#SOA_Request .gform_wrapper .left_label .support-document .gfield_label {

		text-align: center;

		width: 100%;

		margin-bottom: 5px;

	}

	#SOA_Request .gform_wrapper .left_label .support-document .ginput_container {

		text-align: center;

		width: 100%;

	}

	#SOA_Request .gform_wrapper .left_label .support-document .ginput_container input {

		width: 182px;

	}



	/*Supporting Document Type*/

	#SOA_Request .gform_wrapper .left_label .support-document-type .gfield_label {

		text-align: center;

		width: 100%;

		margin-bottom: 5px;

	}

	#SOA_Request .gform_wrapper .left_label .support-document-type .ginput_container {

		text-align: center;

		width: 100%;

	}

	#SOA_Request .gform_wrapper .left_label .support-document-type .ginput_container select {

		width: auto;

		padding-left: 5px;

		padding-right: 5px;

	}



	/*Send Button*/

	#SOA_Request .gform_wrapper .gform_footer {

	    text-align: center;

	    padding: 0px;

	}

}



@media only screen and (max-width: 479px) {

	#SOA_Request .secure-SOA-form .gfield.gfield_error select {

		width: 65%;

	}

}

/*======== SOA_Request_form ====END=*/







/*======== Request more information formm ========*/



#priceTable_tooltipTempContainer {



	display: none;



}



#gform_4 #input_4_6 > li{

	width: 100px;

}



.tooltipster-base .ptp-cta {

	display: none;

}

/*Resposnive*/

@media only screen and (max-width: 479px) {

	#gform_4 .gform_footer {

	    text-align: center;

	    padding: 0px;

	}

	#input_4_5 {

		width: 64%;

	}

}

/*======== Request more information formm ====END=*/







/*======== Request more information formm ========*/

.siteMap{

	text-align: left;

}

/*======== Request more information formm ====END=*/



/*Ceaser*/

.stickyEase{

	-webkit-transition: all 500ms cubic-bezier(0.120, 0.385, 0.000, 1); /* older webkit */

	-webkit-transition: all 500ms cubic-bezier(0.120, 0.385, 0.000, 1.005);

	   -moz-transition: all 500ms cubic-bezier(0.120, 0.385, 0.000, 1.005);

	     -o-transition: all 500ms cubic-bezier(0.120, 0.385, 0.000, 1.005);

	        transition: all 500ms cubic-bezier(0.120, 0.385, 0.000, 1.005); /* custom */



	-webkit-transition-timing-function: cubic-bezier(0.120, 0.385, 0.000, 1); /* older webkit */

	-webkit-transition-timing-function: cubic-bezier(0.120, 0.385, 0.000, 1.005);

	   -moz-transition-timing-function: cubic-bezier(0.120, 0.385, 0.000, 1.005);

	     -o-transition-timing-function: cubic-bezier(0.120, 0.385, 0.000, 1.005);

	        transition-timing-function: cubic-bezier(0.120, 0.385, 0.000, 1.005); /* custom */

}





#main-slider .et_pb_slide_description {

    padding: 120px 0px 0px 40px;

}